{{!< default}}

<div class="container">

    <header class="collection-header">
        <h1 class="collection-title">{{@custom.projects_section_title}}</h1>
        {{#if @custom.projects_section_subtitle}}
            <p class="collection-subtitle">{{@custom.projects_section_subtitle}}</p>
        {{/if}}
    </header>

    <div class="project-grid project-grid-collection">
        {{#foreach posts}}
            {{> "project-card"}}
        {{/foreach}}
    </div>

    {{> "pagination"}}

</div>
