{{!< default}}

<div class="container container-narrow error-page">

    <span class="error-eyebrow">{{statusCode}}</span>
    <h1 class="error-title">
        {{#match statusCode "404"}}Page not found{{else}}Something went wrong{{/match}}
    </h1>
    <p class="error-body">
        {{#match statusCode "404"}}
            We couldn't find the page you were looking for. Try the search, or use the links below.
        {{else}}
            Please try again in a moment, or use the links below to navigate.
        {{/match}}
    </p>

    <nav class="error-nav">
        <a class="error-link" href="{{@site.url}}">Home</a>
        <a class="error-link" href="/writing/">Writing</a>
        <a class="error-link" href="/projects/">Projects</a>
        <button class="error-link" type="button" data-ghost-search>Search</button>
    </nav>

</div>
